.tier-table {
  border: 2px solid blue;
}

.tier-cell {
  width: 20%;
  padding: 1em;
  border: 2px solid blue;
  margin: 1em;
  height: 10em; /* change later */
}

.benefits {
  border: 2px solid orange;
  padding: 1em;
}