
.lineItem{
    display:flex;
    flex-direction: row;
}

p{
    font-size: 1.2rem;
    margin-bottom: 5px;
}
h3{
    line-height: 2rem;
    font-size: 2rem;
    color: transparent;
}
h2{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 7px;
}
h1{
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;
}

.funLetter{
    transform: translate(0,0);
    transition:all 0.5s ease;
}
.funLetter:hover{
    transform: translate(0,-10px) scale(1.2);
    transition:all 0.1s ease;
}


.mapContainer{
    display: flex;
    position:relative;
    overflow: hidden;
    height:100vh;
    width:50%;
    max-width: 150vw;
    max-height: 100vh;
    filter: invert(100%);
}

.mapContainer iframe{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:0;
    transform: scale(3);
    animation-delay: 0.1s;
}

@keyframes zoomOut {
    from {
        transform: scale(3);
    }
    to {
        transform: scale(1);
    }
}

.coverTextContainer{
    right:0;
    max-width: 50vw;
    width:100%;
    justify-items: center;
    align-content: center;
    cursor: crosshair;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-item {
    opacity: 0;
    animation: fadeUp 0.6s ease-out forwards;
    animation-delay: calc(var(--i) * 0.1s);
}